.epofw_main_form_section .epofw_main_left_section {
  width: 79%;
  float: left;
  padding: 0 25px 0 0; }
  .epofw_main_form_section .epofw_main_left_section input[type='text'], .epofw_main_form_section .epofw_main_left_section input[type='number'], .epofw_main_form_section .epofw_main_left_section select {
    min-height: 36px; }
  .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .cop_ft_class, .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .general_field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 25px; }
    .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .cop_ft_class .forminp, .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .general_field .forminp {
      width: 85%; }
    .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .cop_ft_class label, .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .general_field label {
      font-weight: 600; }
    .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .cop_ft_class .col-251, .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .general_field .col-251 {
      display: block;
      width: 20%; }
      .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .cop_ft_class .col-251 .col-25, .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .general_field .col-251 .col-25 {
        display: block; }
        .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .cop_ft_class .col-251 .col-25 .woocommerce-help-tip, .epofw_main_form_section .epofw_main_left_section .cop_ft_general_field_div .general_field .col-251 .col-25 .woocommerce-help-tip {
          margin: 2px 8px 0px 0px !important;
          float: right !important; }
  .epofw_main_form_section .epofw_main_left_section .cop_ft_main_field {
    margin-bottom: 25px;
    border-bottom: none !important; }
  .epofw_main_form_section .epofw_main_left_section .aditional_rules_section {
    display: flex;
    flex-direction: column; }
    .epofw_main_form_section .epofw_main_left_section .aditional_rules_section ul {
      display: flex;
      flex-direction: row; }
      .epofw_main_form_section .epofw_main_left_section .aditional_rules_section ul li {
        margin-right: 10px; }
        .epofw_main_form_section .epofw_main_left_section .aditional_rules_section ul li select {
          width: 195px !important; }
    .epofw_main_form_section .epofw_main_left_section .aditional_rules_section label.rt_label {
      font-size: 14px;
      margin-right: 15px;
      vertical-align: -webkit-baseline-middle;
      font-weight: 600; }
    .epofw_main_form_section .epofw_main_left_section .aditional_rules_section .epofw_rule_type {
      margin: 20px 0; }
      .epofw_main_form_section .epofw_main_left_section .aditional_rules_section .epofw_rule_type select {
        width: 75px !important; }
    .epofw_main_form_section .epofw_main_left_section .aditional_rules_section .epofw_rule_repeater {
      width: 90%;
      display: block; }
      .epofw_main_form_section .epofw_main_left_section .aditional_rules_section .epofw_rule_repeater ul.additional_rule_ul {
        margin: 0 !important; }
      .epofw_main_form_section .epofw_main_left_section .aditional_rules_section .epofw_rule_repeater .epofw_rule_repeater_or {
        display: inline-block; }
        .epofw_main_form_section .epofw_main_left_section .aditional_rules_section .epofw_rule_repeater .epofw_rule_repeater_or h2 {
          text-align: center; }
  .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div {
    background-color: #f1f1f1; }
    .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div #price_extra .epofw_extra_field_sub_div {
      display: inline-block !important; }
    .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #E1E1E1; }
      .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp {
        width: 85%; }
        .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 {
          padding: 15px; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 input[type="checkbox"], .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 input[type="checkbox"] {
            margin-top: 10px;
            display: inline-block; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .epofw_extra_field_sub_div, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .epofw_extra_field_sub_div {
            margin-right: 15px; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .epofw_extra_field_sub_div input[type='text'], .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .epofw_extra_field_sub_div input[type='number'], .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .epofw_extra_field_sub_div select, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .epofw_extra_field_sub_div input[type='text'], .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .epofw_extra_field_sub_div input[type='number'], .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .epofw_extra_field_sub_div select {
              width: 250px !important; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .optgroup .optgroup-detail .opt-ul .opt-li .option-field, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .optgroup .optgroup-detail .opt-ul .opt-li .option-field {
            width: 25%;
            margin-right: 10px;
            min-height: 34px; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .optgroup .optgroup-detail .opt-ul .opt-li .remove-opt-btn, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .optgroup .optgroup-detail .opt-ul .opt-li .remove-opt-btn {
            text-decoration: none; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .optgroup .optgroup-detail .add-new-opt, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .optgroup .optgroup-detail .add-new-opt {
            margin-top: 15px; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .epofw_extra_field_div, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .epofw_extra_field_div {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 25px; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .epofw_extra_field_div .epofw_extra_field_label, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .epofw_extra_field_div .epofw_extra_field_label {
              display: block;
              width: 15%; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .forminp .forminp1 .epofw_extra_field_div .epofw_extra_field_inp, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .forminp .forminp1 .epofw_extra_field_div .epofw_extra_field_inp {
              display: block; }
      .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class label, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field label {
        font-weight: 600; }
      .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .col-251, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .col-251 {
        display: block;
        width: 20%;
        background-color: #F9F9F9;
        border-right: 1px solid #E1E1E1; }
        .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .col-251 .col-25, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .col-251 .col-25 {
          display: block;
          padding: 25px 15px; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .cop_ft_class .col-251 .col-25 .woocommerce-help-tip, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .general_field .col-251 .col-25 .woocommerce-help-tip {
            margin: 2px 8px 0px 0px !important;
            float: right !important; }
    .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_fields_header {
      background-color: white;
      padding: 1px 15px; }
    .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div {
      padding: 20px 25px 20px;
      background-color: #fff; }
      .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div {
        background-color: white;
        border: 1px solid #e4e4e4;
        margin-bottom: 25px; }
        .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .heading_label {
          display: flex;
          flex-direction: row;
          background-color: #ffffff;
          justify-content: space-between;
          padding: 10px 10px;
          align-items: center;
          text-align: center;
          border-bottom: #EEEEEE solid 1px; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .heading_label .heading_label_title {
            display: block;
            width: 20%;
            text-align: center;
            font-size: 12px !important; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .heading_label .heading_label_title strong {
              font-size: 15px;
              font-weight: 700; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .heading_label .heading_nu_label_title {
            width: 2%;
            text-align: center; }
        .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div td.poststuff {
          display: block;
          width: 1036px !important; }
        .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls {
          border-bottom: #EEEEEE solid 1px;
          cursor: move; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_ct_div {
            padding-top: 0px !important;
            border: none !important;
            margin-bottom: 0px !important; }
          .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title {
            display: flex;
            flex-direction: row;
            background-color: #ffffff;
            padding: 20px 10px;
            align-items: center; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title.active {
              background: #2a9bd9;
              color: #FFF; }
              .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title.active .accordion_a_cls {
                color: #fff; }
                .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title.active .accordion_a_cls h3 {
                  color: #fff; }
              .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title.active .accordion_a_cls_remove {
                color: #FFF; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .heading_nu_title {
              width: 2%;
              text-align: center; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .heading_title {
              width: 20%;
              text-align: center; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .accordion_a_cls {
              padding: 0px 8px;
              cursor: pointer;
              text-decoration: none;
              display: block; }
              .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .accordion_a_cls:focus {
                box-shadow: none !important;
                outline: none !important; }
              .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .accordion_a_cls h3 {
                margin: 0px !important;
                font-size: 16px;
                display: inline-block; }
              .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .accordion_a_cls span.dashicons.dashicons-arrow-right-alt2, .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .accordion_a_cls span.dashicons.dashicons-arrow-down-alt2 {
                margin-right: 5px; }
            .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .accordion_a_cls_remove {
              text-decoration: none; }
              .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .accordion_cls .accordion_cls_title .accordion_a_cls_remove span.dashicons.dashicons-trash {
                font-size: 16px;
                margin-left: 5px;
                vertical-align: top; }
        .epofw_main_form_section .epofw_main_left_section .addon_fields_main_div .addon_sub_field_data_div .addon_fields_sub_div .add_new_field {
          margin-top: 20px; }
  .epofw_main_form_section .epofw_main_left_section .epofw_getting_started_info {
    display: block; }
    .epofw_main_form_section .epofw_main_left_section .epofw_getting_started_info p.epofw_gs.aboutinfo {
      margin-bottom: 15px; }
    .epofw_main_form_section .epofw_main_left_section .epofw_getting_started_info p.epofw_gs.info_text {
      margin-bottom: 15px; }
      .epofw_main_form_section .epofw_main_left_section .epofw_getting_started_info p.epofw_gs.info_text span.aboutinfo img {
        width: 60% !important;
        border: 2px solid #e9e9e9;
        margin-top: 3%; }
      .epofw_main_form_section .epofw_main_left_section .epofw_getting_started_info p.epofw_gs.info_text span.aboutinfo {
        text-align: center !important;
        width: 100%;
        float: left;
        margin-bottom: 20px; }
.epofw_main_form_section .epofw_main_right_section {
  width: 19%;
  float: left; }
  .epofw_main_form_section .epofw_main_right_section .dotstore-important-link {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 0; }
    .epofw_main_form_section .epofw_main_right_section .dotstore-important-link h2 {
      font-size: 15px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase; }
    .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .image_box {
      max-width: 100px;
      width: 100%;
      margin: 0 auto; }
      .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .image_box img {
        width: 100%;
        max-width: 100%;
        margin: 0 auto; }
    .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .content_box {
      text-align: center;
      padding: 0 14px; }
      .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .content_box a.btn_style {
        background-color: #0085ba;
        PADDING: 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        display: inline-block;
        color: #fff;
        font-weight: 600; }
    .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .video-detail {
      width: 100%;
      display: inline-block;
      text-align: left; }
      .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .video-detail ul {
        display: block;
        width: 100%; }
        .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .video-detail ul li {
          font-size: 13px;
          color: #666;
          margin-top: 10px;
          font-family: 'Open Sans',sans-serif;
          width: 94%;
          padding-left: 16px; }
          .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .video-detail ul li img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px; }
          .epofw_main_form_section .epofw_main_right_section .dotstore-important-link .video-detail ul li a {
            width: 70%;
            display: inline-block;
            vertical-align: middle;
            line-height: 24px;
            font-size: 14px; }
.epofw_notice_wrap{display: flex;flex-direction: row;}
.epofw_notice_wrap .epofw_authorname{padding: 13px 0 5px 20px;}
.epofw_notice_wrap .epofw_desc{padding: 10px 0 13px 0px;}
.epofw_notice_wrap .epofw_desc a{margin-right: 5px;}
.epofw_notice_wrap .epofw_gravatar{margin-top: 10px;}
.epofw_notice_wrap .epofw_gravatar img{height: 70px;width: 80px;}
.epofw_button_prowc_notice_review_yes {display: block;padding-bottom: 20px;}
.epofw_button_prowc_notice_review_yes .notice_texts {padding-bottom: 7px;}
.epofw_notice_checking{border-left-color: #007dbb !important;}
/*# sourceMappingURL=epofw-admin.css.map */
